{block title}{block h1}Účastnící{/block} - Plzeňský Barcamp{/block}
{block metaDescription}Barcamp je určen široké veřejnosti bez ohledu na zkušenosti a léta praxe. Kdo na prvním Plzeňském Barcampu nebude chybět a zapíše se tak do historie?{/block}
{block metaKeywords}účastník, konference, Barcamp, Plzeň, účast, kontakt, networking, přednášející, bio, zápis, přijde, přijede, příchozí{/block}
{block content}
<section class="main-content">
	<div class="inner">
	{control users}
	</div>
</section>