#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:
	app:
		is_develop: false
	mongo:
		host: 'localhost:27017'
		db: 'barcamp'
	aws:
		sdk:
			#arn:aws:iam::667215285126:user/plzenskybarcamp-web
			version: latest
			region: eu-west-1
			credentials:
				key: 'AKIAIHLPOFMETYUS4CEQ'
				secret: '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'
		s3Storage:
			bucket: plzenskybarcamp
			basePath: ''
			baseUrl: https://d32gpbkjyl921a.cloudfront.net
	facebook:
		appConfig:
			appId: '504432792996629'
			secret: 'ed0af56bc4baabe2e821461e30e5435a'
			fileUpload: false
			allowSignedRequest: false
	twitter:
		appConfig:
			consumerKey: "dfVzCOu644SEDA1RIktT9oYJu"
			consumerSecret: "NJtmHPVocZhobqH2JEfdnXvKMSkBIP7oyoz4llw53l92fJWr3R"
			singleUserToken: "2313976212-lppgIN4Gm5Gp2Y9fw9HTVIgEkmoacN5OBuQwd8h"
			singleUserTokenSecret: "EoXmd63IBgbLKNNBrcywBvEoizwiuDS6Jxt5P5N59aPz6"


php:
	date.timezone: Europe/Prague
	zlib.output_compression: yes


nette:
	application:
		errorPresenter: Error
		mapping:
			*: App\*Module\Presenters\*Presenter

	session:
		autoStart: smart
		expiration: 14 days
		save_path: %tempDir%/sessions


services:
	- App\Authenticator
	- App\RouterFactory
	- App\SessionStarter
	router: @App\RouterFactory::createRouter(%consoleMode%)
	registrationModel: App\Model\Registration(%mongo%)
	configModel: App\Model\Config(%mongo%)
	facebook: App\OAuth\Facebook(%facebook.appConfig%)
	twitter: App\OAuth\Twitter(%twitter.appConfig%)
	aws: App\Aws\Aws(%aws.sdk%)
	s3: App\Aws\S3Storage(%aws.s3Storage%)
	developFlag: App\Components\DevelopFlag(%app.is_develop%)
