#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:
	mongo: 'localhost:27017'
	facebook:
		app_config:
			appId: '504432792996629'
			secret: 'ed0af56bc4baabe2e821461e30e5435a'
			fileUpload: false
			allowSignedRequest: false
	twitter:
		app_config:
			key: "soXP3BhRN7zaKmaMNgKG1w"
			secret: "cTr6trEjVlWzj7P3OLuMu22BdwUINaERZHD3dca8"

php:
	date.timezone: Europe/Prague
	zlib.output_compression: yes


nette:
	application:
		errorPresenter: Error
		mapping:
			*: App\*Module\Presenters\*Presenter

	session:
		autoStart: true
		expiration: 14 days
		save_path: %tempDir%/sessions


services:
	- App\Authenticator
	- App\RouterFactory
	router: @App\RouterFactory::createRouter
	registrationModel: App\Model\Registration(%mongo%)
	configModel: App\Model\Config(%mongo%)
	Facebook: Facebook(%facebook.app_config%)
	twitterOAuth: TwitterOAuth(%twitter.app_config.key%, %twitter.app_config.secret%)
