<style type="text/css">
    .required { color: red; }
    .form { display: none; }
</style>

<div>
    <h2>Chci přijít na Plzeňský Barcamp</h2>
    <p>Chci zažít něco nového, chci potkat nové lidi, chci získat kontakty, chci vidět oblíbené téma v&nbsp;novém světle, chci říci o svém projektu, … Prostě chci na první Plzeňský Barcamp :)</p>
</div>

{if !$isRegistrationOpen}
    <p class="text-center"><strong>Registrace bude již brzy</strong></p>
{else}
    <div class="text-center" id="user-regestration">
        {control registeredUsers 'osobností se zúčastní'}
        {if !$canBeRegistered && ( !$user->isLoggedIn() || !$identity->isRegistered() ) }
            <p><strong>Omlouváme se, ale kapacita registrací je již vyčerpána</strong></p>
        {else}
            {if !$user->isLoggedIn()}
                <a href="{plink Sign:in}" id="show-login-choose-user-regstration" class="button show-login-panel-hp">Chci přijít!</a>
                <div class="choose-network" id="login-choose-network" style="display:none">
                    <span class="fake-label">Vyber si síť:</span>
                    <ul class="networks">
                        {*<li class="gplus">
                            <a href="javascript:void(0)"><i>Google+</i></a>
                        </li>*}
                        <li class="fb">
                            <a href="{plink Sign:inFb}"><i>Facebook</i></a>
                        </li>
                        <li class="tw">
                            <a href="{plink Sign:inTw}"><i>Twitter</i></a>
                        </li>
                        {*<li class="ln">
                            <a href="javascript:void(0)"><i>LinkedIn</i></a>
                        </li>*}
                    </ul>
                </div>
            {elseif !$identity->isRegistered()}
                <p><strong>Děkujeme za přihlášení. Nyní se, prosíme, registruj</strong></p>
                <a href="{link this}" class="button registration-button">Potvrzuji svou účast</a>
                <div class="form">{control registration}</div>
            {else}
                <p class="border-tb">Zúčastním se Plzeňského Barcampu :)</p>
            {/if}
        {/if}
    </div>
{/if}

<div>
    <h2>Přednášky na Plzeňském Barcampu</h2>
    <p>Máš co říci ostatním? Děláš něco zajímavého? Mno, super! Vypiš si vlastní přednášku...</p>
</div>

<div class="text-center" id="speaker-regestration">
    {control registeredSpeakers 'vypsaných přednášek'}
    {if $user->isLoggedIn() && $identity->isSpeaker()}
            Mám vypsanou přednášku :)<br>
            <a href="{plink Conference:talksDetail talkId=>$identity->talk['_id']}">{$identity->talk['title']}</a>
        </p>
    {/if}
</div>
