<div>
    <h2 id="to-dulezite">To důležité neb co je dobré vědět</h2>
    <p>Chcete vědět víc? Máme pro vás <a href="{plink Homepage:info}">informační stránku</a> s odpověďmi na vaše otázky.<br>
    To nejzásadnější, co by vás mohlo zajímat, jsme připravili hned po ruce:</p>
    <ul>
        <li>Začínáme <strong>registrací v 8:30</strong>, oficiální zahájení od 9:30 a první přednáška pak od 10:00 hod.</li>
        <li>Místo konání je <strong>Teslova 3, Plzeň</strong>, Vědeckotechnický park. <br>
        <a href="{plink Homepage:location}">Více informací k místě a dopravě<a/></li>
        <li>Na programu je <strong>24 přednášek</strong> ve 4 místnostech: <a href="{plink Program:list}">kompletní program</a>.</li>
        <li><strong>Pití:</strong> k dispozici je celý den <strong>voda s citronem nebo limetkami</strong>. Naši partneři pak na místě nabízí <strong>výbornou kávu a čaj k zakoupení</strong>. V baru Amigos si pak můžete <strong>koupit pivo, víno a tvrdý alkohol</strong>.</li>
        <li><strong>Jídlo:</strong> Budeme připravovat <strong>bagety v průběhu celého dne</strong>, nabídneme vynikající <strong>sladké a slané koláče a saláty</strong>. V době oběda možnost <strong>zakoupení teplého jída</strong>. A kdyby to nestačilo, máme zálohu: <strong>nejlepší plzeňské pizzerie s rozvozem</strong>.</li>
        <li><strong>Afterpárty bude</strong> a to v místě konání Barcampu. Začínáme cca od 19 hod. po ukončení programu.</li>
        <li>Kdybyste kdokoliv cokokoliv chtěl, tak se nebojte to v rámci duchu Barcampu prostě udělat :)</li>
        <li>Pro jistotu, <a href="{plink Homepage:contact}">kontakty na organizátory</a>.</li>
    </ul>
</div>

<div>
    <h2 id="poprve-na-zapade">Plzeňský Barcamp poprvé na západě</h2>
    <p>Téměř 300 účastníků navštíví první Plzeňský Barcamp. Otevíráme nový prostor pro získávání kontaktů a poznatků. Více než 20 řečníků představí své téma. Nebudou chybět soutěže, workshopy a cvičení. Vše završí after party v prostorách Vědeckotechnického parku.</p>
</div>

{if !$isRegistrationOpen}
    <p class="text-center"><strong>Registrace bude již brzy</strong></p>
{else}
    <div class="text-center" id="user-regestration">
        {control registeredUsers 'osobností se zúčastní'}
        {if !$canBeRegistered && ( !$user->isLoggedIn() || !$identity->isRegistered() ) }
            <p><strong>Omlouváme se, ale kapacita registrací je již vyčerpána</strong></p>
        {else}
            {if !$user->isLoggedIn()}
                <a href="{plink Sign:in}" id="show-login-choose-user-regstration" class="button show-login-panel-hp">Chci přijít!</a>
                <div class="choose-network" id="login-choose-network" style="display:none">
                    <span class="fake-label">Vyber si síť:</span>
                    <ul class="networks">
                        {*<li class="gplus">
                            <a href="javascript:void(0)"><i>Google+</i></a>
                        </li>*}
                        <li class="fb">
                            <a href="{plink Sign:inFb}"><i>Facebook</i></a>
                        </li>
                        <li class="tw">
                            <a href="{plink Sign:inTw}"><i>Twitter</i></a>
                        </li>
                        {*<li class="ln">
                            <a href="javascript:void(0)"><i>LinkedIn</i></a>
                        </li>*}
                    </ul>
                </div>
            {elseif !$identity->isRegistered()}
                <p><strong>Děkujeme za přihlášení. Nyní se, prosíme, registruj</strong></p>
                <a href="{link this}" class="button registration-button">Potvrzuji svou účast</a>
                <div class="form">{control registration}</div>
            {else}
                <p class="border-tb">Zúčastním se Plzeňského Barcampu :)</p>
            {/if}
        {/if}
    </div>
{/if}

<div>
    <h2 id="prednasky">Přednášky na Plzeňském Barcampu</h2>
    <p>První ročník bude pestrý! Sešly se nám skvělé návrhy z rozmanitých oborů. Návštěvníci si odhlasovali, které přednášky se uskuteční a přednášející už pilují svůj výstup.</p>
</div>

<div class="text-center" id="speaker-regestration">
    {control registeredSpeakers 'vypsaných přednášek'}
    {if $user->isLoggedIn() && $identity->isSpeaker()}
            Mám vypsanou přednášku :)<br>
            <a href="{plink Conference:talksDetail talkId=>$identity->talk['_id']}">{$identity->talk['title']}</a>
        </p>
    {/if}
</div>
