<div>
	<h3><a href="{plink Conference:visitors}">{$usersCount} {$title}</a></h3>
	<ul class="list-inline">
		<li n:foreach="$users as $user">
			<span class="tooltip" title="{$user['name']}">
				<img class="user-pic" src="{$user['picture_url']}">
			</span>
		</li>
	</ul>
</div>