<div>
	<h3><a href="{plink Conference:talks}">{$speakersCount} {$title}</a></h3>
	<ul class="list-inline">
		<li n:foreach="$speakers as $speaker">
			<a href="{plink Conference:talksDetail talkId =>$speaker['talk']['_id']}"
				class="tooltip"
				title="{$speaker['name']}: {$speaker['talk']['title']}">
				<img class="user-pic" src="{$speaker['picture_url']}" alt="{$speaker['name']}: {$speaker['talk']['title']}">
			</a>
		</li>
	</ul>
</div>