{block bodyClass}wide{/block}
{block title}{block h1}Program{/block} - Plzeňský Barcamp{/block}
{block metaDescription}Lorem ipsum{/block}
{block metaKeywords}Lorem ipsum{/block}
{block content}
<section class="main-content">
	<div class="inner">
		<p>Lorem ipsum</p>
	</div>
</section>