parameters:
	aws:
		sdk:
			#arn:aws:iam::667215285126:user/plzenskybarcamp-web
			version: latest
			region: eu-west-1
			credentials:
				key: 'AKIAJ5ISQBDGSTBFFNUQ'
				secret: 'put_your_key'
		s3Storage:
			bucket: plzenskybarcamp
			basePath: ''
			baseUrl: https://cdn.plzenskybarcamp.cz
		snsRegister:
			topicArn: 'arn:aws:sns:eu-west-1:667215285126:bcp-register'

php:
	date.timezone: Europe/Prague
	zlib.output_compression: yes


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

session:
	autoStart: smart
	expiration: 14 days
	save_path: %tempDir%/sessions


services:
	- App\Model\ArchiveLoader(@s3, @cacheStorage)
	- App\Model\WebDir(%wwwDir%)
	router: App\RouterFactory::createRouter()
	aws: App\Aws\Aws(%aws.sdk%)
	s3: App\Aws\S3Storage(%aws.s3Storage%)
	sns: App\Aws\SnsPublisher(%aws.snsRegister%)
