<div>
	<h3><a href="{plink Conference:visitors}">{$usersCount} {$title}</a></h3>
	<ul class="list-inline">
		<li n:foreach="$users as $oneUser">
			<span class="tooltip" title="{$oneUser['name']}">
				<img class="user-pic" src="{$oneUser['picture_url']}" alt="{$oneUser['name']}">
			</span>
		</li>
	</ul>
</div>