<h2>Přednášky Plzeňského Barcampu</h2>
<p>Sleduj seznam zapsaných přednášek. V týdnu mezi 24. - 30. březnem otevřeme hlasování a ty se budeš moci podílet na náplni prvního Plzeňského Barcampu! A jestli ti tu něco chybí, zapiš si vlastní přednášku a přines nový pohled na oblíbené téma.</p>

<table class="table-list" id="talks-list">
    <tr n:foreach="$talks as $talk">
        {var speaker = $talk['speaker']}

        <td class="first-td"><a href="{plink Conference:talksDetail talkId => $talk['talk_id']}"><img class="user-pic" src="{@$speaker['picture_url']}" title="{$speaker['name']}"/></a></td>
        <td class="second-td"><a href="{plink Conference:talksDetail talkId => $talk['talk_id']}">{$talk['title']}</a></td>
        <td class="third-td">{$talk['description']|truncate:30}</td>
        <td class="fourth-td"><span>{@$talk['votes_count']} likes</span> <a n:if="$currentUser->isLoggedIn()" href="#">like</a></td>
    </tr>
</table>

<table class="table-list" id="talks-list">
    <tbody>
        <tr class="talks-head" data-id="0">
            <td class="first-td"><a href="/prednasky/532455d23beb0"><img class="user-pic" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash1/t5/203293_1011669265_329754995_q.jpg" title="Jiří Kolda Kolařík"></a></td>
            <td class="second-td"><a href="/prednasky/532455d23beb0">Koldovo nejlepší přednáška :) #1</a></td>
            <td class="third-td">Popis Koldovo nejlepší…lorem ipsum dorem saddasa as asas fsdd gffd fdg</td>
            <td class="fourth-td">{*<input type="checkbox">*}</td>
        </tr>
        <tr class="talks-detail" data-id="0">
            <td colspan="4" class="table-list-sub-wrap">
                <table class="table-list table-list-sub">
                    <tr>
                        <td class="first-td">
                            <a href="/prednasky/532455d23beb0"><img class="user-pic" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash1/t5/203293_1011669265_329754995_q.jpg" title="Jiří Kolda Kolařík"></a>
                            <span>Jiří Kolda Kolařík</span>
                        </td>
                        <td colspan="1" class="second-td">
                            <a href="/prednasky/532455d23beb0">Koldovo nejlepší přednáška :) #1</a>
                            <p>sasfsfdfsdsdfsffsdfsfdfssdf</p>
                            <p><strong>Komu je přednáška určena?</strong><br>
                                fdslfkjfhkjsdk fgjfdk fhjsghjfdhffjkk kdjsgk gdgh DESCRIOTION
                            </p>
                        </td>
                        <td class="fourth-td"><input type="checkbox"><span><em>37</em>hlasů<span></td>
                    </tr>
                </table>
            </td>
        </tr>
        
        <tr class="talks-head" data-id="1">
            <td class="first-td"><a href="/prednasky/532455d23beb0"><img class="user-pic" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash1/t5/203293_1011669265_329754995_q.jpg" title="Jiří Kolda Kolařík"></a></td>
            <td class="second-td"><a href="/prednasky/532455d23beb0">Koldovo nejlepší přednáška :) #2</a></td>
            <td class="third-td">Popis Koldovo nejlepší…lorem ipsum dorem saddasa as asas fsdd gffd fdg</td>
            <td class="fourth-td">{*<input type="checkbox">*}</td>
        </tr>
        <tr class="talks-detail" data-id="1">
            <td colspan="4" class="table-list-sub-wrap">
                <table class="table-list table-list-sub">
                    <tr>
                        <td class="first-td">
                            <a href="/prednasky/532455d23beb0"><img class="user-pic" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash1/t5/203293_1011669265_329754995_q.jpg" title="Jiří Kolda Kolařík"></a>
                            <span>Jiří Kolda Kolařík</span>
                        </td>
                        <td colspan="1" class="second-td">
                            <a href="/prednasky/532455d23beb0">Koldovo nejlepší přednáška :) #1</a>
                            <p>sasfsfdfsdsdfsffsdfsfdfssdf</p>
                            <p><strong>Komu je přednáška určena?</strong><br>
                                fdslfkjfhkjsdk fgjfdk fhjsghjfdhffjkk kdjsgk gdgh DESCRIOTION
                            </p>
                        </td>
                        <td class="fourth-td"><input type="checkbox"><span><em>37</em>hlasů<span></td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>