<h2>Účastnící Plzeňského Barcampu</h2>
<p>Kdo se chystá na Plzeňský Barcamp a zapíše se tak do jeho historie?</p>
<p class="user-list-user-count">Registrovaných účastníků: <strong>{$usersCount}</strong></p>
<table class="table-list" id="users-list">
    <tr n:foreach="$users as $user" {if $currentUser->getId() == $user['_id']}class="current-user"{/if}>
        <td class="first-td"><img class="user-pic" src="{@$user['picture_url']|biggerTwitterPicture:"_bigger"}" alt="{$user['name']}"></td>
        <td class="second-td"><a n:tag-if="$currentUser->getId() == $user['_id']" href="{plink Conference:profil}">{$user['name']}</a></td>
        <td class="third-td"><a n:if="$user['twitter']" href="{$user['twitter']|twitterize:"https://www.twitter.com/"}" target="_blank">{$user['twitter']|twitterize:"@"}</a></td>
        <td class="fourth-td"><span class="crop">BIO: {$user['bio']}</span></td>
    </tr>
</table>