<h2>Účastnící Plzeňského Barcampu</h2>

<table class="table-list">
    <tr n:foreach="$users as $user" {if $currentUser->getId() == $user['user_id']}class="current-user"{/if}>
        <td class="first-td"><img class="user-pic" src="{@$user['picture_url']}"/></td>
        <td class="second-td"><a n:tag-if="$currentUser->getId() == $user['user_id']" href="{plink Conference:profil}">{$user['name']}</a></td>
        <td class="third-td"><a n:tag-if="$user['twitter']" href="http://twitter.com/{$user['twitter']}" target="_blank">{$user['twitter']}</a></td>
        <td class="fourth-td"><span class="crop">BIO: {$user['bio']}</span></td>
    </tr>
</table>

<table class="table-list">
    <tbody>
        <tr>
            <td class="first-td"><a href="#"><img class="user-pic" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash3/t5/157774_1271843661_189695349_q.jpg"></a></td>
            <td class="second-td"><a href="#">Veronika Gréková</a></td>
            <td class="third-td"><a href="http://twitter.com/@veru_gr" target="_blank">@veru_gr</a></td>
            <td class="fourth-td"><span class="crop">test adf dfsf dsf df dsfsdffsddf dsf dfsf sdfaf dsfs fdasffa SFSF FFA ASFSA SF SAF ASF AFF FS</span></td>
        </tr>
        <tr>
            <td class="first-td"><a href="#"><img class="user-pic" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash3/t5/157774_1271843661_189695349_q.jpg"></a></td>
            <td class="second-td"><a href="#">Veronika Gréková</a></td>
            <td class="third-td"><a href="http://twitter.com/@veru_gr" target="_blank">@veru_grfdsgsfsdfgg</a></td>
            <td class="fourth-td"><span class="crop">test adf dfsf dsf df dsfsdffsddf dsf dfsf sdfaf dsfs fdasffa SFSF FFA ASFSA SF SAF ASF AFF FS test adf dfsf dsf df dsfsdffsddf dsf dfsf sdfaf dsfs fdasffa SFSF FFA ASFSA SF SAF ASF AFF FS</span></td>
        </tr>
    </tbody>
</table>
<script>
    $(document).ready(function() {
        $('.table-list td').on('click touchstart', function() {
            console.log('aa');
        });
       });
</script>