{block bodyClass}homepage{/block}
{block metaDescription}Plzeňský Barcamp je netradiční konferencí s neotřelým formátem přednášek a diskuzí pro širokou veřejnost.{/block}
{block metaKeywords}Barcamp, konference, přednáška, nezisková akce, Plzeň, Vědeckotechnický park, networking, IT, social media, marketing, geek, internet{/block}
{block content}
<section class="main-content">
	<div class="inner">
	<h2>Editace</h2>
	</div>
</section>