<h2>Přednášky Plzeňského Barcampu</h2>
<p>Pro čtvrtý ročník Plzeňského Barcampu jsou vypsány tyto přednášky:</p>


<p class="user-list-user-count">Registrovaných přednášek: <strong>{$talksCount}</strong></p>
<p n:if="$isVotingOpen"  class="talk-list-ranging-switcher">
    <a href="{plink Conference:talks}" n:class="!$ranking ? 'active'">Hlasování</a>
    /
    <a href="{plink Conference:talksRanking}" n:class="$ranking ? 'active'">Průběžné výsledky</a>
</p>
<table class="table-list {if !$ranking}not-{/if}ranking" id="talks-list" data-action-add="{link addVote!}" data-action-remove="{link removeVote!}">
<tbody>
{foreach $talks as $talk}
    {var $speaker = $talk['speaker']}
    <tr class="talks-head {if $isVoteShows}{if !$ranking && @in_array($user->getId(), $talk['votes'])} voted-for{/if}{if $ranking && $iterator->getCounter() == $talksCapatity} last-in{/if}{if $ranking && $iterator->getCounter() > $talksCapatity} under-line{/if}{/if}" id="talk_{$talk['_id']}" data-id="{$talk['_id']}">

        <td class="first-td">
            <a href="{plink Conference:talksDetail talkId => $talk['_id']}">
                <img class="user-pic" src="{@$speaker['picture_url']|biggerTwitterPicture}" alt="{$speaker['name']}" title="{$speaker['name']}">
                {if $ranking}<div class="rank-number">{$iterator->getCounter()}</div>{/if}
            </a>
        </td>
        <td class="second-td"><a href="{plink Conference:talksDetail talkId => $talk['_id']}">{$talk['title']}</a></td>
        <td class="third-td"><span class="crop">{$talk['description']}</span></td>
        <td n:if="$isVoteShows" class="fourth-td">
            {if !$ranking && $isVotingOpen}
                {block #vote}
                    {if $user->isLoggedIn() && $user->getIdentity()->isRegistered()}
                        <div class="vote-out">
                            <input class="vote"
                            data-checked="{if @$talk['votes'] && in_array($user->getId(), $talk['votes'])}true{else}false{/if}"
                            type="checkbox"
                            {if @$talk['votes'] && in_array($user->getId(), $talk['votes'])} checked {/if}>
                            <div class="status-box"></div>
                        </div>
                    {elseif $user->isLoggedIn()}
                        <p>Hlasovat mohou jen registrovaní</p>
                    {else}
                        <p><a href="/login">Přihlaš se</a> a&nbsp;hlasuj!</p>
                    {/if}
                {/block}
            {else}
                {block #votes_count}
                    <span>
                        <em class="votes_count">{ifset $talk['votes_count']}{$talk['votes_count']}{else}0{/ifset}</em>hlasů
                    </span>
                {/block}
            {/if}
        </td>
    </tr>
    <tr class="talks-detail {if $ranking && $iterator->getCounter() == $talksCapatity} last-in{/if}{if $ranking && $iterator->getCounter() > $talksCapatity} under-line{/if}" data-id="{$talk['_id']}">

        <td colspan="4" class="table-list-sub-wrap">
            <table class="table-list table-list-sub">
                <tr>
                    <td class="first-td">
                        <a href="{plink Conference:talksDetail talkId => $talk['_id']}"><img class="user-pic" src="{@$speaker['picture_url']|biggerTwitterPicture}" alt="{$speaker['name']}" title="{$speaker['name']}"></a>
                        <span>{$speaker['name']}</span>
                    </td>
                    <td colspan="1" class="second-td">
                        <a href="{plink Conference:talksDetail talkId => $talk['_id']}">{$talk['title']}</a>
                        <p>{!$talk['description']|escape|nl2br}</p>
                        <p><strong>Komu je přednáška určena?</strong><br>
                            {!$talk['purpose']|escape|nl2br}
                        </p>
                    </td>
                    <td n:if="$isVoteShows" class="fourth-td">
                        {include #vote}
                        {include #votes_count}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
{/foreach}
</tbody>
</table>
