<h2>Účastnící Plzeňského Barcampu</h2>

<p class="user-list-user-count">Registrovaných účastníků: <strong>{$usersCount}</strong></p>
<table class="table-list" id="users-list">
    <tr n:foreach="$users as $u" {if $currentUser->getId() == $u['_id']}class="current-user"{/if}>
        <td class="first-td"><img class="user-pic lazy" src="https://cdn.plzenskybarcamp.cz/public/2018/pictures/profiles/profile-placeholder.png" data-original="{@$u['picture_url']|biggerTwitterPicture:"_bigger"}" alt="{$u['name']}"></td>
        <td class="second-td"><a n:tag-if="$currentUser->getId() == $u['_id']" href="{plink Conference:profil}">{$u['name']}</a></td>
        <td class="third-td"><a n:if="$u['twitter']" href="{$u['twitter']|twitterize:"https://www.twitter.com/"}" target="_blank">{$u['twitter']|twitterize:"@"}</a></td>
        <td class="fourth-td"><span class="crop">BIO: {$u['bio']}</span></td>
    </tr>
</table>