{block title}{block h1}Partneři{/block} - Plzeňský Barcamp{/block}
{block content}

<section class="main-content">
	<div class="inner">
		<h2 id="spoluorganizator">Spoluorganizátor</h2>
		<ul><li>Logo = http://www.vtpplzen.cz/ - “Spoluorganizátor”, nutné nové logo</ul>

		<h3 id="hlavni-partneri">Hlavní Partneří</h3>
		<ul><li>Logo = http://www.bic.cz/ 
		<li>Logo = http://www.plzen2015.cz/</ul>

		<h3 id="partneri">Partneří</h3>
		<ul><li>Logo = (https://www.zcu.cz/)
		<li>Logo = http://www.kerio.cz/
		<li>Logo = http://www.socialbakers.com/</ul>

	</div>
</section>
