{block title}{block h1}Partneři{/block} - Plzeňský Barcamp{/block}
{block metaDescription}Sponzoři, partneři a spoluorganizátoři bez nichž by nevznikl Plzeňský Barcamp, první událost podobného druhu na západě. {/block}
{block metaKeywords}Partner, sponzor, Barcamp, organizátor, spoluorganizátor, poděkování, konference, přednáška, Plzeň{/block}
{block content}

<section class="main-content">
	<div class="inner">

		<h2 id="spoluorganizator">Spoluorganizátor</h2>
		<p class="partners">
			<a href="http://www.vtpplzen.cz/" target="_blank"><img src="{$basePath}/media/partners/vtp-logo.jpg" alt="Vědeckotechnický park Plzeň"></a>
		</p>

		<h2 id="hlavni-partneri">Hlavní <span class="tooltip pilsen" title="Tahle informace je tak důležitá, že si krátké „i” nezaslouží">partneří</span></h2>
        <p class="partners middle">
            <a href="http://www.socialbakers.com/" target="_blank"><img src="{$basePath}/media/partners/sb-logo.jpg" alt="Socialbakers"></a>
            <a href="http://www.kerio.cz/" target="_blank"><img src="{$basePath}/media/partners/kerio_logo.png" alt="Kerio Technologies"></a>
        </p>

        <p class="partners small">
            
            <a href="http://www.komora.cz/" target="_blank"><img src="{$basePath}/media/partners/hospo_komora_logo.png" height="100" alt="Hospodářská komora České republiky"></a>
            <a href="http://www.bic.cz/" target="_blank"><img src="{$basePath}/media/partners/bic-logo.jpg" height="100" alt="Podnikatelské a inovační centrum Plzeň"></a>
            <a href="http://www.lefleurdesign.cz/" target="_blank"><img src="{$basePath}/media/partners/la_fleur_design.png" height="100" alt="Le fleur design"></a>
        </p>
        <p class="partners small">
            <a href="http://www.cajovnaupekla.cz/" target="_blank"><img src="{$basePath}/media/partners/cajovna_logo.png" height="100" alt="Čajovna u Pekla"></a>
            <a href="http://www.eletur.cz/" target="_blank"><img src="{$basePath}/media/partners/eletur_logo.png" height="73" alt="Eletur"></a>
        </p>

        <!--<h3 id="partneri">Partneří</h3>
        <p class="partners small">
            <a href="https://www.zcu.cz/" target="_blank"><img src="{$basePath}/media/partners/zcu-logo.jpg" height="100" alt="Západočeská univerzita v Plzni"></a>
            <a href="http://www.komora.cz/" target="_blank"><img src="{$basePath}/media/partners/hospo_komora_logo.png" height="100" alt="Hospodářská komora České republiky"></a>
            <a href="http://www.plzen2015.cz/" target="_blank"><img src="{$basePath}/media/partners/plzen-logo.png" height="100" alt="Plzeň 2015"></a>
        </p>
        <p class="partners small">
            <a href="http://www.amigosbar.cz/" target="_blank"><img src="{$basePath}/media/partners/amigos_bar.png" height="100" alt="Amigos Cocktails Bar"></a>
            <a href="http://www.hotelibisplzen.cz/" target="_blank"><img src="{$basePath}/media/partners/ibis_logo.png" height="100" alt="Hotel IBIS Plzeň"></a>
            <a href="http://kofikofi.cz/" target="_blank"><img src="{$basePath}/media/partners/kofi_kofi.png" height="100" alt="Kofi Kofi - Mobilní prodej kvalitní kávy..."></a>
        </p>
        <p class="partners small">
            <a href="http://www.studioandrea.cz/" target="_blank"><img src="{$basePath}/media/partners/studio_andrea.png" height="100" alt="Sportovní studio Andrea"></a>
            <a href="http://www.bzeneckavinarna.cz/" target="_blank"><img src="{$basePath}/media/partners/bzenecka_vinarna.png" height="100" alt="Bzenecká vinárna"></a>
            <a href="http://www.cajovnaupekla.cz/" target="_blank"><img src="{$basePath}/media/partners/cajovna_logo.png" height="100" alt="Čajovna u Pekla"></a>
        </p>
        <p class="partners small">
            <a href="http://www.bistrokantyna.cz/" target="_blank"><img src="{$basePath}/media/partners/kantyna_logo.png" height="143" alt="Bistro Kantýna"></a>
            <a href="http://tepfaktor.cz/" target="_blank"><img src="{$basePath}/media/partners/tepfaktor_logo.png" height="143" alt="Tepfaktor"></a>
            <a href="http://www.lefleurdesign.cz/" target="_blank"><img src="{$basePath}/media/partners/la_fleur_design.png" height="143" alt="Le fleur design"></a>
        </p>
        <p class="partners small">
            <a href="http://www.kiv.zcu.cz/" target="_blank"><img src="{$basePath}/media/partners/kiv_logo.png" height="73" alt="Katedra informatiky a výpočetní techniky"></a>
            <a href="http://www.eletur.cz/" target="_blank"><img src="{$basePath}/media/partners/eletur_logo.png" height="73" alt="Eletur"></a>
        </p>-->

	</div>




</section>
