{block title}{block h1}Promo team{/block} - Plzeňský Barcamp{/block}
{block metaDescription}Promo team{/block}
{block metaKeywords}Promo, team{/block}

{block content}
<section class="main-content">
	<div class="inner">
	<h2>
		Promo team
	</h2>
	<p>
		Lorem ipsum…
	</p>
</div>
</section>
