{block title}{block h1}Informace{/block} - Plzeňský Barcamp{/block}
{block metaDescription}Odpovědi na vaše otázky přehledně na jednom místě. Přemýšlíte, jak se k nám dostat, jak vše bude probíhat nebo co budete jíst a pít? Máme pro vás vše důležité, co byste měli vědět.{/block}
{block metaKeywords}informace Plzeňský Barcamp konference cesta party networking program{/block}
{block content}
<section class="main-content">
	<div class="inner">
	    <h2 id="to-dulezite">To důležité neb co je dobré vědět</h2>
	    <p>Na tohle se nás často ptáte, tak to pěkně shrneme na jedno místo:</p>


		<h3>Jak se k nám dostanete?</h3>
		<p>Událost se koná v prostorách <a href="http://www.vtpplzen.cz/">Vědeckotechnického parku</a>, ulice Teslova 3, Plzeň</p>
		<p>Podívejte se na naší <a href="https://www.google.com/maps/ms?msid=217523821009441899622.0004f684e8106c5f8dc16&amp;msa=0">mapu</a> nebo nabídky taxi služeb, vše přehledně na jednom místě <a n:href="location">Kudy kam na Plzeňský Barcamp</a></p>

		<h3>Registrace</h3>
		<p>Areál Plzeňského Barcampu bude <strong>otevřen od 8:30</strong>. K registracím potřebujete pouze údaje, pod kterými jste se přihlásili na web.</p>

		<h3>Zahájení programu</h3>
		<p>Zahájení programu proběhne v 9:30 v největší místnosti - Katedrála</p>
		<p>Plynule naváže zahájení přednášek ve všech přednáškových místnostech v 10:00. <a n:href="Program:list">Více o programu.</a></p>

		<h3>Doprovodný program</h3>
		<ul>
			<li>Soutěž od webové hry <a href="https://langevo.com/">Langevo</a></li>
			<li>Další soutěže od našich partnerů</li>
			<li>Cvičení <a href="http://www.studioandrea.cz/">Studia Andrea</a></li>
			<li>Vizážistka <a href="http://www.marykay.cz/">Mary Kay</a></li>
		</ul>

		<h3>Jídlo</h3>
		<p>Zdarma můžete ochutnat některou z našich bagetek nebo vynikající  sladké a slané koláče a saláty z <a href="http://www.bistrokantyna.cz/">Bistro Kantýna</a><br>
		Oběd můžete zakoupit v jídelně Japas přímo v areálu Vědeckotechnického parku</p>
		<p>Během celého dne můžete objednávat pizzy</p>
		<ul>
			<li><a href="http://www.pizzerieriegrovka.cz/">Pizzerie Riegrovka</a> (<a href="tel:775554499">775 554 499</a>)</li>
			<li><a href="http://www.pizzabossi.cz/">Pizza Bossi</a> (<a href="tel:774532285">774 532 285</a>)</li>
			<li><a href="http://www.pizza-doma.cz/pizza/">Pizza Doma</a> (<a href="tel:777266887">777 266 887</a>)</li>
			<li><a href="http://www.pizzaroma.cz/">Pizza Roma</a> (<a href="tel:724951718">724 951 718</a>)</li>
		</ul>

		<h3>Pití</h3>
		<p>Zdarma bude k dispozici voda s citronem, limetkou, pomerančem nebo mátou</p>
		<p>Kávu můžete zakoupit na stánku <a href="http://www.kofiplzen.cz/">Kofi Plzeň</a><br>
		Vynikající a kvalitní čaje nabídne <a href="http://www.cajovnaupekla.cz/">Čajovna u Pekla</a></p>
		<p>Nebude chybět ani nabídka vína od <a href="http://www.bzeneckavinarna.cz/">Bzenecké Vinárny</a><br>
		Alkoholické, nealkoholické nápoje a pivo bude v rukách baru <a href="http://www.amigosbar.cz/">Amigos</a></p>

		<h3>Warm-up párty a afterpárty</h3>
		<p>Warm-up párty proběhne v pátek od 20:00 v restauraci <a href="http://jamesonrockclub.cz/plzen">Jameson</a> v Plzni. Hlaste se na Twitter účet <a href="https://twitter.com/eshopkonzultant">@eshopkonzultant</a>.</p>
		<p>Afterpárty proběhne přímo v areálu Vědeckotechnického parku a naváže plynule na konec přednáškových bloků. Za její uskutečnění děkujeme <a href="http://www.socialbakers.com/">Socialbakers</a>.</p>

		<h3>Ubytování</h3>
		<p>Zvýhodněnou cenu nabízí <a href="http://www.hotelibisplzen.cz/">hotel Ibis</a> v docházkové vzdálenosti areálu Barcampu<br>
		Jednolůžkový pokoj 800 Kč/noc nebo dvojlůžkový pokoj 1 000 Kč/noc (bez DPH 15%) se snídaní „all you can eat“ ve formě švédských stolů, s parkováním, wifi a lokálními poplatky<br>
		Rezervace provádějte na emailu: <a href="mailto:H6734@accor.com">H6734@accor.com</a> a nezapomeňte uvést heslo „Plzeňský Barcamp“</p>

		<p>Aktuální informace sledujte pod hashtagem <a href="https://twitter.com/search?q=%23barcampcz&amp;f=realtime">#barcampcz</a> a na našem <a href="https://www.facebook.com/plzenskybarcamp">Facebooku</a></p>



	</div>
</section>
