{block title}{block h1}Partneři{/block} - Plzeňský Barcamp{/block}
{block metaDescription}Sponzoři, partneři a spoluorganizátoři bez nichž by nevznikl Plzeňský Barcamp.{/block}
{block metaKeywords}Partner, sponzor, Barcamp, organizátor, spoluorganizátor, poděkování, konference, přednáška, Plzeň{/block}
{block content}

<section class="main-content">
	<div class="inner">

        <h2 id="spoluorganizator">Prostory poskytli</h2>
        <p class="partners">
            <a href="http://www.vtpplzen.cz/" target="_blank"><img src="{$basePath}/media/partners/vtp-logo.jpg" alt="Vědeckotechnický park Plzeň"></a>
        </p>
        <p class="partners small">
            <a href="http://www.komora.cz/" target="_blank"><img src="{$basePath}/media/partners/hospo_komora_logo.png" height="150" alt="Hospodářská komora České republiky"></a>
            <a href="https://managementmania.com/cs/" target="_blank"><img src="{$basePath}/media/partners/management_mania.png" height="150" alt="Management Mania"></a>
            <a href="http://www.czechinvest.org/" target="_blank"><img src="{$basePath}/media/partners/czechinvest.png" height="150" alt="Czechinvest"></a>
        </p>

        <h2 id="zlati-partneri"><span class="tooltip pilsen" title="Tohle jsou prosím naše zlatíčka, neboli zlatí partneři.">Zlaťácí</span></h2>
        <p class="partners middle">
            <a href="https://www.socialbakers.com/" target="_blank"><img src="{$basePath}/media/partners/sb-logo.png" alt="Socialbakers"></a>
            <a href="https://www.kerio.cz/" target="_blank"><img src="{$basePath}/media/partners/kerio_logo.png" alt="Kerio Technologies"></a>
            <a href="http://www.bohemiasoft.cz/" target="_blank"><img src="{$basePath}/media/partners/bohemiasoft-logo.png" alt="Bohemiasoft"></a>
            <a href="https://www.zombeek.cz/" target="_blank"><img src="{$basePath}/media/partners/zombeek-logo.png" alt="Zombeek"></a>
        </p>

        <h2 id="stribrni-partneri"> <span class="tooltip pilsen" title="Být to (stří)Brňáci, tak to k nám do Plzně mají daleko. Jako stříbrní partneři jsou ale skvělou místní podporou.">Stříbrňácí</span></h2>
        <p class="partners middle">
            <a href="http://www.shopero.cz/" target="_blank"><img src="{$basePath}/media/partners/shopero_logo_jpg.png" alt="SHOPERO"></a>
            <a href="http://www.benes-michl.cz/" target="_blank"><img src="{$basePath}/media/partners/benesmichl-logo.png" alt="Beneš &amp; Michl"></a>
            <a href="http://www.whitesoft.cz/" target="_blank"><img src="{$basePath}/media/partners/whitesoft.png" alt="Whitesoft s.r.o."></a>
        </p>

        <h2 id="bronzovi-partneri"> <span class="tooltip pilsen" title="Měďáky, velmi staré platidlo z dob Českých králů, už zajímají pouze sběratele. Pro nás jsou však Měďácí stále významní partneři.">Měďácí</span></h2>
        <p class="partners middle">
            <a href="https://www.galosoft.cz/" target="_blank"><img src="{$basePath}/media/partners/galosoft.png" height="100" alt="Galosoft"></a>
            <a href="https://www.shoptet.cz/" target="_blank"><img src="{$basePath}/media/partners/shoptet.png" height="100" alt="Shoptet"></a>
            <a href="http://sedmeropaprsku.cz/" target="_blank"><img src="{$basePath}/media/partners/sedmero_paprsku.png" height="80" alt="Sedmero paprsků"></a>
            <a href="http://www.dddplzen.eu/" target="_blank"><img src="{$basePath}/media/partners/ddd.png" height="98" alt="Dům Digitálních Dovedností"></a>
            <a href="http://www.balikobot.cz/" target="_blank"><img src="{$basePath}/media/partners/balikobot.png" height="100" alt="Balíkobot"></a>
            <a href="http://www.eletur.cz/" target="_blank"><img src="{$basePath}/media/partners/eletur_logo.png" height="73" alt="Eletur"></a>
        </p>

        <h2 id="partneri">Partneři</h2>
        <p class="partners middle">
            <a href="https://www.cdn77.com/" target="_blank"><img src="{$basePath}/media/partners/cdn77.png" height="100" alt="CDN77"></a>
            <a href="http://www.fek.zcu.cz/cp/" target="_blank"><img src="{$basePath}/media/partners/centrum_podnikani.png" height="100" alt="Centrum Podnikání"></a>
            <a href="http://www.polyglot.cz/" target="_blank"><img src="{$basePath}/media/partners/polyglot.png" height="100" alt="Polyglot"></a>
            <a href="http://www.cajovnaupekla.cz/" target="_blank"><img src="{$basePath}/media/partners/cajovna_logo.png" height="100" alt="Čajovna u Pekla"></a>
            <a href="http://www.bzeneckavinarna.cz/" target="_blank"><img src="{$basePath}/media/partners/bzenecka_vinarna.png" height="100" alt="Bzenecká vinárna"></a>
            <a href="http://www.jciwb.cz/" target="_blank"><img src="{$basePath}/media/partners/jciwb.png" height="100" alt="JUNIOR CHAMBER INTERNATIONAL (JCI) WEST BOHEMIA"></a>
            <a href="http://martadance.cz/" target="_blank"><img src="{$basePath}/media/partners/martadancenter.png" height="100" alt="Marta Dancenter"></a>
            <a href="http://www.newwaveservice.cz/" target="_blank"><img src="{$basePath}/media/partners/nws.png" height="100" alt="New Wave Service"></a>
        </p>

        <h2 id="technika">Techniku zajišťuje</h2>
        <p class="partners middle">
            <a href="http://www.ppc-online.cz/" target="_blank"><img src="{$basePath}/media/partners/ppc.png" height="100" alt="PPC Interactive Vision"></a>
        </p>

        <h2 id="medialni-partneri">Mediální partneři</h2>
        <p class="partners middle">
            <a href="http://mladypodnikatel.cz/" target="_blank"><img src="{$basePath}/media/partners/mlady_podnikatel.png" height="80" alt="MladýPodnikatel.cz - magazín o podnikání na internetu"></a>
        </p>

        <h2 id="wifi">Wi-Fi pro vás zajišťuje</h2>
        <p class="partners middle">
            <a href="http://rvtech.cz/" target="_blank"><img src="{$basePath}/media/partners/rvtech.png" height="80" alt="RVTech s.r.o."></a>
            <a href="http://plzenec.net/" target="_blank"><img src="{$basePath}/media/partners/plzenecnet.png" height="80" alt="PlzenecNET"></a>
        </p>
{*
        <h3 id="expozice">Expozice</h3>
        <p class="partners middle">
            <a href="http://www.lefleurdesign.cz/" target="_blank"><img src="{$basePath}/media/partners/la_fleur_design.png" height="100" alt="Le fleur design"></a>
            <a href="http://www.collabim.cz/" target="_blank"><img src="{$basePath}/media/partners/collabim.png" height="100" alt="Collabim"></a>
            <a href="http://www.vasecocky.cz/" target="_blank"><img src="{$basePath}/media/partners/vasecocky.png" height="100" alt="Vasecocky.cz"></a>
            <a href="http://www.eshopkonzultant.cz/" target="_blank"><img src="{$basePath}/media/partners/jankalianko_logo.png" height="100" alt="E-shop konzultant"></a>
            <a href="http://martadance.cz/" target="_blank"><img src="{$basePath}/media/partners/martadancenter.png" height="100" alt="Marta Dancenter"></a>
            <a href="http://www.bforb.cz/" target="_blank"><img src="{$basePath}/media/partners/b4b.png" height="100" alt="Business for Breakfast"></a>
            <a href="http://www.badgees.cz/" target="_blank"><img src="{$basePath}/media/partners/badgees.png" height="100" alt="Bad Gees - (nejen) reklamní stylové, originální placky"></a>
            <a href="http://www.triko4u.cz/" target="_blank"><img src="{$basePath}/media/partners/triko4u.png" height="100" alt="Trička a mikiny s kterými to vyhrajete"></a>
            <a href="http://www.polyglot.cz/jazykova-skola-POLYGLOT/7-plze-a-zpadn-echy/" target="_blank"><img src="{$basePath}/media/partners/polyglot.png" height="100" alt="Polyglot"></a>
            <a href="#"><img src="{$basePath}/media/partners/jafra.png" height="100" alt="Kosmetika Jafra"></a>
            <a href="http://wrongware.cz/" target="_blank"><img src="{$basePath}/media/partners/wrongware.png" alt="Webové aplikace pro podporu podnikání"></a>
            <a href="http://cz.lyrachocolate.com/" target="_blank"><img src="{$basePath}/media/partners/sedmero_paprsku.png" alt="Sedmero Paprsků"></a>
            <a href="http://www.cajovnaupekla.cz/" target="_blank"><img src="{$basePath}/media/partners/cajovna_logo.png" height="100" alt="Čajovna u Pekla"></a>
            
            <a href="http://www.dddplzen.eu/" target="_blank"><img src="{$basePath}/media/partners/ddd.png" height="100" alt="Dům Digitálních Dovedností"></a>
            <a href="http://www.newwaveservice.cz/" target="_blank"><img src="{$basePath}/media/partners/nws.png" height="100" alt="New Wave Service"></a>
            <a href="http://sklenicezdravi.cz/" target="_blank"><img src="{$basePath}/media/partners/sklenice_zdravi.png" height="100" alt="Sklenice Zdraví"></a>
            <a href="http://www.ppc-online.cz/" target="_blank"><img src="{$basePath}/media/partners/ppc.png" height="100" alt="PPC Interactive Vision"></a>
            <a href="https://www.facebook.com/groups/844498385568882/" target="_blank"><img src="{$basePath}/media/partners/glitt.png" height="100" alt="Glitt - Bižuterie na prodej"></a>
            <a href="http://www.benes-michl.cz/" target="_blank"><img src="{$basePath}/media/partners/benes-michl.png" height="100" alt="Beneš &ampr; Michl - Tvořit nás baví."></a>
            <a href="http://www.taskpark.com/" target="_blank"><img src="{$basePath}/media/partners/taskpark.png" height="100" alt="TaskPark - Snadná správa úkolů v týmu"></a>
            <a href="#"><img src="{$basePath}/media/partners/cokoladovna.png" height="100" alt="Čokoládovna - prodej a ochutnávka horké čokolády, prodej čokoládových peciček z nerafinovaných kakaových bobů"></a>
            <a href="http://www.coffeejoy.cz/" target="_blank"><img src="{$basePath}/media/partners/cofee_joy.png" height="100" alt="Coffee Joy - Zamiluj se nejméně dvakrát za den…"></a>

            <a href="http://techup.cz/" target="_blank"><img src="{$basePath}/media/partners/techup.png" height="100" alt="TechUp - Řešíme budoucnost za Vás"></a>

            <a href="http://www.officeyoga.cz/" target="_blank"><img src="{$basePath}/media/partners/oy.png" height="100" alt="Office Yoga"></a>
        </p>

        <h3 id="personalni-pomoc">Personální pomoc</h3>
        <p class="partners middle">
            <a href="http://www.sportcentral.cz/" target="_blank"><img src="{$basePath}/media/partners/sportcentral.png" height="100" alt="Sportcentral.cz"></a>
            <a href="http://www.startuphelp.cz/" target="_blank"><img src="{$basePath}/media/partners/startuphelp.png" height="100" alt="Startuphelp.cz"></a>
        </p>

        <h3 id="personalni-pomoc">Mediální partneří</h3>
        <p class="partners middle">
            <a href="http://www.lifehackers.cz/plzensky-barcamp/" target="_blank"><img src="{$basePath}/media/partners/lifehackers.png" height="100" alt="Lifehackers"></a>
        </p>
*}
	</div>




</section>
