{block title}{block h1}Archiv: ročník 2014{/block} - Plzeňský Barcamp{/block}
{block metaDescription}Archiv 2014{/block}
{block content}

<section class="main-content">
	<div class="inner">
		<h2>Archiv: ročník 2014</h2>
		<p>Omlouváme se, ale dočasně není archiv loňského ročníku k dispozici.</p>

	</div>
</section>
